@import 'styles/variables.scss';

.trainingHomePageContainer {
  background-color: $blackColor;

  h1,
  h2,
  h3,
  h4,
  p {
    @include media('<=laptop') {
      text-align: center;
    }
  }

  span {
    color: $goldColor;
  }

  section {
    header {
      margin: 100px 0 50px;
      color: $goldColor;
      width: 100%;

      h2 {
        color: $goldColor;

        @include media('<=laptop') {
          text-align: center;
        }
      }
    }
  }

  .openingSection {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;

    @include media('<=laptop') {
      flex-direction: column;
    }

    h1,
    h3 {
      @include media('<=laptop') {
        text-align: center;
      }
    }

    .textContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }

    .imagesContainer {
      display: flex;
      gap: 20px;

      @include media('<=laptop') {
        justify-content: center;
      }

      figure {
        position: relative;
      }

      .biggerHomePageImage {
        height: 480px;
        width: 270px;

        @include media('<=tablet') {
          display: none;
        }
      }

      .smallerImages {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include media('<=tablet') {
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          gap: 30px;
        }

        .homePageImage {
          width: 272px;
          height: 153px;
        }
      }
    }
  }

  .faciliesSection {
    margin: 100px 0 100px 0;

    .facilityTilesContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  }

  .infoSection {
    margin-bottom: 100px;

    h2 {
      max-width: 835px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .infoTileMain {
      display: flex;
      gap: 50px;
      flex-direction: column;

      .infoTile {
        display: flex;
        gap: 40px;
        align-items: center;

        @include media('<=desktop') {
          flex-direction: column;
          justify-content: center;

          &:last-of-type {
            flex-direction: column-reverse;
          }
        }

        h4 {
          max-width: calc(100% - 680px);

          @include media('<=desktop') {
            max-width: 100%;
            width: 100%;
          }

          span {
            color: $goldColor;
          }
        }

        .infoImage {
          width: 640px;
          height: 360px;

          @include media('<=tablet') {
            width: 410px;
            height: 230px;
          }

          @include media('<=mobile') {
            width: 300px;
            height: 170px;
          }
        }
      }
    }
  }

  .imagesSection {
    display: flex;
    justify-content: center;

    .imagesContainer {
      display: flex;
      gap: 22px;

      @include media('<=desktop') {
        flex-wrap: wrap;
        justify-content: center;
      }

      @include media('<=laptop') {
        gap: 30px;
      }

      span {
        display: flex;
        gap: 22px;

        @include media('<=desktop') {
          flex-wrap: wrap;
          justify-content: center;
        }

        @include media('<=laptop') {
          gap: 30px;
        }
      }

      .img {
        width: 225px;
        height: 400px;
      }

      .doubleImg {
        display: flex;
        flex-direction: column;
        gap: 22px;

        .smallImg {
          width: 336px;
          height: 189px;
        }
      }
    }
  }

  .opinionsSection {
    margin-bottom: 100px;

    .opinionsHeader {
      display: flex;
      gap: 100px;
      justify-content: center;

      h2 {
        position: relative;

        .arrows {
          display: flex;
          gap: 30px;
          position: absolute;
          bottom: 0;
          left: 541px;

          @include media('<=laptop') {
            position: relative;
            left: auto;
            justify-content: center;
            margin-top: 20px;
          }

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.contactBelt {
  background-color: $redColor;
  height: 50px;

  @include media('<=laptop') {
    height: 120px;
  }

  @include media('<=mobile') {
    height: 150px;
  }

  .contactBeltContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    @include media('<=laptop') {
      flex-direction: column;
      justify-content: space-evenly;
      gap: 0;

      h4 {
        text-align: center;
      }
    }

    .verticalBelt {
      height: 33px;
      width: 4px;
      background-color: $whiteColor;

      @include media('<=laptop') {
        width: 120px;
        height: 2px;
      }
    }
  }
}
