@import './breakpoints.scss';
@import 'include-media';

$blackColor: #16191C;
$goldColor: #CCB260;
$grayColor: #8D99AE;
$pinkColor: #B75D69;
$redColor: #852231;
$darkBlue: #010638;
$greenColor: #0E7D3D;
$lightBlue: #BAD7F2;
$whiteColor: #DFDFDF;

