@import './breakpoints.scss';
@import 'include-media';

$blackColor: #16191c;
$goldColor: #ccb260;
$grayColor: #8d99ae;
$pinkColor: #b75d69;
$redColor: #852231;
$darkBlue: #010638;
$greenColor: #0e7d3d;
$lightBlue: #bad7f2;
$whiteColor: #dfdfdf;
