@import 'styles/variables.scss';

.hamburgerMenuIcon {
  color: $whiteColor;
  position: relative;
  z-index: 1e6;
}

.hamburgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 10001;
  background-color: #1e1c18ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 150px;
  color: white;
  gap: 30px;

  .navItem {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;

    color: white;
    @include addHoverEffectBlackToGold;

    svg {
      margin-left: 15px;
      path {
        fill: white;
      }
    }
  }

  .navIcons {
    display: flex;
    justify-content: center;
    align-items: center;

    .navItem {
      svg {
        margin: 0;

        &:hover {
          path {
            fill: $darkBlue;
            transition: fill 0.2s linear;
          }
        }
      }
    }
  }
}
