@import 'styles/variables.scss';

.trainingHomePageContainer {
  h1,
  h2,
  h3,
  h4,
  p {
    @include media('<=laptop') {
      text-align: center;
    }
  }

  span {
    color: $goldColor;
  }

  section {
    header {
      margin: 100px 0 50px;
      color: $goldColor;
      width: 100%;

      h2 {
        color: $goldColor;
      }
    }
  }

  .openingSection {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;

    @include media('<=laptop') {
      flex-direction: column;
    }

    h1,
    h3 {
      @include media('<=laptop') {
        text-align: center;
      }
    }

    .textContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }

    .imagesContainer {
      display: flex;
      gap: 20px;

      @include media('<=laptop') {
        justify-content: center;
      }

      figure {
        position: relative;
      }

      .biggerHomePageImage {
        height: 480px;
        width: 270px;

        @include media('<=tablet') {
          display: none;
        }
      }

      .smallerImages {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include media('<=tablet') {
          flex-direction: column;
          gap: 30px;
          width: 100%;

          .homePageImage {
            align-self: center;
            width: 80% !important;
            height: auto !important;
            aspect-ratio: 16 / 9;
          }
        }

        .homePageImage {
          position: relative;
          width: 272px;
          height: 153px;
        }
      }
    }
  }

  .faciliesSection {
    margin: 100px 0 100px 0;

    .facilityTilesContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  }

  .infoSection {
    margin-bottom: 100px;

    h2 {
      max-width: 835px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .infoTileMain {
      display: flex;
      gap: 100px;
      flex-direction: column;

      .infoTile {
        display: flex;
        gap: 100px;

        @include media('<=laptop') {
          flex-direction: column;
          align-items: center;
          gap: 50px;
        }

        h4 {
          ul {
            text-align: start !important;

            @include media('<=laptop') {
              max-width: 85%;

              li {
                margin: 10px 0;
              }
            }
          }
        }

        .infoImageContainer {
          position: relative;
          width: 408px;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;

          @include media('<=laptop') {
            width: 70%;
            height: auto;
          }

          @include media('<=tablet') {
            width: 100%;
            height: auto;
          }

          .imgText {
            width: 300px;
            background: rgba(204, 178, 96, 0.7);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
            text-align: center;

            h3 {
              opacity: 1 !important;
              color: $blackColor;
            }
          }
        }

        h4 {
          max-width: calc(100% - 508px);

          @include media('<=laptop') {
            max-width: 70%;
            width: 70%;
          }

          @include media('<=tablet') {
            max-width: 100%;
            width: 100%;
          }

          ul {
            list-style-type: disc;

            @include media('<=laptop') {
              width: fit-content;
              margin: 0 auto;
              padding: 0 0 0 30px;
            }
          }
        }

        .infoImage {
          aspect-ratio: 3 / 4;
          width: 100%;
          height: auto;

          @include media('<=laptop') {
            aspect-ratio: 3 / 4;
            max-width: 320px;
          }

          img {
            object-fit: fill;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .imagesSection {
    display: flex;
    justify-content: center;

    .imagesContainer {
      display: flex;
      gap: 22px;

      @include media('<=desktop') {
        flex-wrap: wrap;
        justify-content: center;
      }

      @include media('<=laptop') {
        gap: 30px;
      }

      span {
        display: flex;
        gap: 22px;

        @include media('<=desktop') {
          flex-wrap: wrap;
          justify-content: center;
        }

        @include media('<=laptop') {
          gap: 30px;
        }
      }

      .img {
        width: 320px;
        aspect-ratio: 3 / 4;

        img {
          object-fit: cover;
          border-radius: 20px;
        }
      }

      .doubleImg {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 22px;

        .smallImg {
          width: 320px;
          aspect-ratio: 16 / 9;

          img {
            object-fit: cover;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .opinionsSection {
    margin-bottom: 100px;

    .opinionsHeader {
      display: flex;
      gap: 100px;
      justify-content: center;

      h2 {
        position: relative;

        .arrows {
          display: flex;
          gap: 30px;
          position: absolute;
          bottom: 0;
          left: 541px;

          @include media('<=laptop') {
            position: relative;
            left: auto;
            justify-content: center;
            margin-top: 20px;
          }

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.contactBelt {
  background-color: $greenColor;
  height: 50px;

  @include media('<=laptop') {
    height: 120px;
  }

  @include media('<=mobile') {
    height: 150px;
  }

  .contactBeltContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    @include media('<=laptop') {
      flex-direction: column;
      justify-content: space-evenly;
      gap: 0;

      h4 {
        text-align: center;
        transition: all linear 0.2s;

        &:hover {
          color: $goldColor;
          transform: scale(1.02);
        }
      }
    }

    .verticalBelt {
      height: 33px;
      width: 4px;
      background-color: $whiteColor;

      @include media('<=laptop') {
        width: 120px;
        height: 2px;
      }
    }
  }
}
