@import 'styles/variables.scss';

.articleContainer {
  margin: 50px auto 100px auto;
  max-width: 900px;
  width: 100%;

  .mainImg {
    aspect-ratio: 16 / 9;
    width: 900px;
    margin: 0 auto 50px auto;

    img {
      object-fit: contain;
    }

    @include media('<=laptop') {
      width: 750px;
    }

    @include media('<=tablet') {
      width: 100%;
    }
  }

  .content {
    img {
      @include media('<=laptop') {
        width: 750px;
      }

      @include media('<=tablet') {
        width: 100%;
      }
    }
  }

  .dateAndIcons {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px 0;

    .icons {
      display: flex;
      gap: 30px;

      .icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .back {
    margin-top: 30px;
    text-decoration: underline;
    transition: all linear 0.2s;
    width: fit-content;

    &:hover {
      cursor: pointer;
      color: $goldColor;
    }
  }
}
