@import 'styles/variables.scss';

.facilityTile {
  width: 300px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid $whiteColor;
  padding: 15px;
  position: relative;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  h3,
  p {
    @include media('<=laptop') {
      text-align: start !important;
    }
  }

  h3 {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .linkContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;

    a {
      text-decoration: underline;
      transition: 0.3s;
      color: $whiteColor;
    }

    a:hover {
      color: $goldColor;
      cursor: pointer;
    }
  }
}
