@import 'styles/variables.scss';

.trainingHomePageContainer {
    background-color: $blackColor;

    .openingSection {
        display: flex;
        gap: 50px;
        margin-bottom: 50px;
        
        .textContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            h3 {
                span {
                    color: $goldColor;
                }
            }
        }

        .imagesContainer {
            display: flex;
            gap: 20px;

            figure {
                position: relative;
            }

            .biggerHomePageImage {
                height: 480px;
                width: 270px;
            }

            .smallerImages {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .homePageImage {
                    width: 272px;
                    height: 153px;
                }
              
            }

           
        }
    }

    .facilitiesSection {
        margin: 100px 0 50px 0;
    }

    .infoSection {
        h2 {
            max-width: 835px;
            text-align: center;
            margin: 100px auto 50px auto;
            color: $goldColor;
        }

        .infoTileMain {
            display: flex;
            gap: 50px;
            flex-direction: column;

            .infoTile {
                display: flex;
                gap: 40px;
                align-items: center;
    
                h4 {
                    max-width: calc(100% - 680px);
                    
                    span {
                        color: $goldColor;
                    }
                }
    
                .infoImage {
                    width: 640px;
                    height: 360px;
                 
                }
            }
        }

    }
}

.contactBelt {
    background-color: $redColor;
    height: 50px;
    
    .contactBeltContainer {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;

        .verticalBelt {
            height: 33px;
            width: 4px;
            background-color: $whiteColor;
        }
    }
}


