@import 'styles/variables.scss';

.landingSection {
  position: relative;
  height: 380px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;

  .textContainer {
    position: relative;
    margin-bottom: 50px;
  }

  .landingImage {
    height: 500px;
    @include landingImageStyles;
  }
}

.pageContet {
  .chooseBelt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;

    @include media('<=laptop') {
      flex-direction: column;
      gap: 20px;

      h2 {
        text-align: center;
      }
    }

    .belt {
      width: 1px;
      height: 39px;
      background-color: $whiteColor;

      @include media('<=laptop') {
        flex-direction: column;
        width: 120px;
        height: 2px;
      }
    }
  }
}

.activeSection {
  color: $goldColor;
}

.textAddition {
  h3 {
    color: $whiteColor;
  }

  .marginBottom50 {
    margin-bottom: 50px;
    color: $goldColor;
  }
}
