@import 'styles/variables.scss';

.landingSection {
  position: relative;
  height: 380px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;

  @include media('<=tablet') {
    height: 200px;
  }

  .textContainer {
    position: relative;
    margin-bottom: 50px;

    @include media('<=tablet') {
      text-align: center;
    }
  }

  .landingImage {
    height: 400px;
    @include landingImageStyles;

    img {
      object-fit: cover;
    }

    @include media('<=tablet') {
      height: 300px;
    }
  }
}

.personalTrainersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}
