@import 'styles/variables.scss';

.navContainer {
  padding: 30px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  position: relative;

  .logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1e6;

    figure {
      width: 60px;
      height: 60px;
      position: relative;
    }

    h4 {
      margin-left: 14px;
      @include addHoverEffectBlackToGold;
    }
  }

  .navLinks {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    li {
      @include addHoverEffectBlackToGold;
    }
  }
}

.activeNavItem {
  -webkit-text-fill-color: inherit !important;
  color: $goldColor !important;
  cursor: auto !important;
  background-position: 0;

  &:before {
    width: 100% !important;
  }
}
