@import 'styles/variables.scss';

.navContainer {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  position: relative;

  .logo {
    display: flex;
    align-items: center;

    figure {
      width: 60px;
      height: 60px;
      position: relative;
    }

    h4 {
      margin-left: 14px;
      @include addHoverEffectBlackToGold;
    }
  }

  .navLinks {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    li {
      @include addHoverEffectBlackToGold;
    }
  }
}
